{
  "plugins": [angular],
  "extends": ["eslint:recommended", "angular"],
  "rules": {
    "indent": [
      "error",
      2
    ],
    "quotes": [
      "error",
      "double"
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "semi": [
      "error",
      "always"
    ],
    "angular/di": [
      "error",
      "$inject"
    ]
  },
  "env": {
    "es6": true,
    "browser": true,
    "jasmine": true,
    "mocha": true,
    "amd": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    },
  },
  "globals" : {
    "chai"       : false,
    "describe"   : false,
    "it"         : false,
    "before"     : false,
    "beforeEach" : false,
    "after"      : false,
    "afterEach"  : false,
    "inject"     : false
  }
}
