body {
  font-family: Arial, sans-serif;
}

#workflow-editor {
  position: relative;
  border: 1px solid #f2f2f2;
}

.state {
  height: 100px;
  width: 100px;
  border: 1px solid #ccc;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #f2f2f2;
  color: #333;
  font-size: 14px;
  font-weight: bold;
}
.state:hover,
.transitionLabel:hover {
  cursor: pointer;
  cursor: hand;
  text-decoration: underline;
}
.state .glyphicon {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5px;
}
.state .glyphicon:hover {
  cursor: move;
}

.transitionLabel {
  background: white;
  color: #434343;
  font-weight: 400;
  font-size: 13px;
  padding: 4px;
  max-width: 100px;
  text-align: center;
}
